<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100&display=swap" rel="stylesheet">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>MCgetinfo</title>
</head>

<body>
    <div class="main-container">
        <div class="server-name-input-container">
        <form action="/" method="post">
            <input type="text" name="server-name-input" class="server-name-input">
            <input type="submit" value="Get info" name="submit-btn" class="submit-btn">
        </form>
        <div class="json-data-container"><textarea class="answer-text">{{ answer_data }}</textarea></div>
    </div>
    </div>

</body>
</html>